@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --theme-color: #404bf9;
  --theme-color-2: #1937FE;
  --text: #252525,
    --desc: #333,
    --gray: #555,
    --white: #fff,
    --lightWhite: #fafafa,
    --green: #20C968,
    --blue: #87F0FF,
}

/*  GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #252525;
}

p {
  margin-bottom: 0;
}

button {
  outline: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.box-2 {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  background-color: #fff;
  height: auto;
  overflow-y: scroll;
  border-radius: 20px;
  padding: 10px 0;
}


.button-bottom {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-bottom .btn {
  font-size: 18px;
  font-weight: 300;
  width: 80%;
  border: none;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 50px;

}

.btn-gradient {
  border-radius: 28px;
  background: linear-gradient(98deg, #4960F9 2.24%, #1433FF 103.02%);
  color: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.page-bg-2 {
  background: url("./assets/images/page_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  width: 100%;
  height: 100vh;
}

.note {
  color: rgb(78, 78, 78);
}


/* NAVIGATION */

.bottom-navigation {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #fff;
}

.bottom-navigation ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 60px;
  justify-content: space-evenly;
}

.bottom-navigation ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--text);
  padding: 10px;
}

.bottom-navigation ul li a i {
  font-size: 28px;
}

.bottom-navigation ul li a p {
  font-size: 14px;
}

.bottom-navigation ul li a.active {
  color: var(--theme-color);
}

.bottom-navigation ul li a.center {
  transform: translateY(-35%);
  padding: 0;
  color: var(--theme-color);
}

.bottom-navigation ul li a.center i {
  font-size: 65px;

}



/* TOP */

.group-top {
  width: 100%;
  height: 30vh;
  background: linear-gradient(170deg, var(--theme-color) -3.15%, var(--theme-color-2) 126.05%);
  background-repeat: no-repeat;
  padding-top: 20px;
}

.group-top .top {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.group-top .top .name {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}



.group-top .img {
  position: relative;
}

.group-top .avatar {
  width: 50px;
  height: 50px;
  border-radius: 18.216px;
  box-shadow: 0px 4.04805px 11.13213px 0px rgba(0, 0, 0, 0.20);
}

.group-top .img .dot {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: #20C968;
  border: 1px solid #fff;
  border-radius: 100%;
}

.group-top-2 {
  width: calc(100% + 20px);
  transform: translateX(-10px);
  height: fit-content;
}

.group-top-2 .top {
  width: calc(100%);
  transform: translateX(10px);
}

.group-top-2 {
  border-radius: 0 0 130px 130px;
}

/*  SHORT TOP */

.top-header {
  width: 100%;
  height: 70px;
  background: linear-gradient(170deg, #4950F9 -3.15%, #1937FE 126.05%);
  box-shadow: 0 5px 0 #87F0FF;
  background-repeat: no-repeat;
  padding-top: 20px;
  border-radius: 0 0 30px 30px;
}

.top-header .top {
  align-items: center;
}

.top-header .top i,
.top i {
  font-size: 20px;
  color: #FFF;
}

.top-header .top .title,
.top .title {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/*  SEARCH */
.search {
  margin-top: 20px;
}

.search .form-control {
  padding: 8px 12px;
}

.search .form-control:focus {
  box-shadow: none;
}

.search .btn {
  background-color: var(--theme-color);
  border: none;
}

.search .btn:hover,
.search .btn:focus {
  background-color: var(--theme-color-2);
  border: none;
}

/*  VOICE BOT */

.voice-bot {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: var(--theme-color);
  color: #fff;
  border: 2px solid var(--theme-color);
  border-radius: 50%;
  box-shadow: 0 8px 10px #404cf9b2;
  cursor: pointer;
  height: 60px;
  width: 60px;
  text-align: center;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.voice-bot.active {
  transition: .3s;
  -webkit-animation: hoverWave linear 1s infinite;
  animation: hoverWave linear 1s infinite;
}


@keyframes hoverWave {
  0% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.3);
  }

  40% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.3);
  }

  80% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0.3), 0 0 0 26.7px rgba(56, 163, 253, 0.3);
  }

  100% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0.3), 0 0 0 40px rgba(56, 163, 253, 0.3);
  }

}

/* OPTIONS */

.options {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  grid-gap: 8px;
}

.options .option {
  background: rgba(211, 234, 255, 0.309);
  color: #252525;
  font-size: 14px;
  padding: 10px;
  border-radius: 8px;
  font-weight: 400;
  border: none;
  outline: none;
}

/* Bank list */

.bank-item {
  border: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 8px;
}

.bank-item.active {
  border: 1px solid var(--theme-color-2);
  border-radius: 6px;
}

.bank-item:last-child {
  margin-bottom: 0;
}

.bank-item img {
  height: 20px;
  width: 25px;
  object-fit: contain;
  object-position: left;
}

/*  CHATBOT BOX */
.chat-box-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999;
  display: none;
  height: calc(100% + 60px);
  background-color: #fff;
}

.chat-box-page.show {
  display: block;
}

/*  TABS */

.nav-tabs {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  margin-bottom: 0;
}

.nav-tabs::-webkit-scrollbar {
  width: 0;
}

.nav-tabs .nav-item {
  scroll-snap-align: start;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-item .nav-link.active {
  border: none;
  color: var(--theme-color);
}

.nav-tabs .nav-item .nav-link {
  color: #252525;
}

.tab-content {
  padding: 10px 20px;
}